.admin-view {
    padding: 20px;
  }
  
  .admin-header {
    font-family: 'BW SEIDO ROUND DEMO', sans-serif;
    color: #004D4D;
  }
  
  .appointments .appointment {
    border: 1px solid #DCAE1D;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .approve-button {
    background-color: #A4D555;
    color: white;
    padding: 6px 12px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
  }
  
  .suggest-button {
    background-color: #DCAE1D;
    color: white;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
  }
  