/* App.css */

/* Asegura que el fondo ocupe toda la pantalla y no permita scroll */
html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupar la altura completa de la ventana */
  background-color: #E9F7F5; /* Fondo claro para toda la vista */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #D0ECEA;
}

.logo {
  width: 4cm;
}

.nav a {
  margin: 0 15px;
  color: #004D4D;
  font-family: 'BW SEIDO ROUND DEMO', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.small-login-button {
  background-color: #A4D555;
  color: #FFFFFF;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
}

.slogan-section {
  background-color: #A4D555;
  padding: 20px;
  text-align: center;
}

.slogan {
  font-family: 'BW SEIDO ROUND DEMO', sans-serif;
  font-size: 1.8em;
  color: #004D4D;
  margin: 0;
}

.services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  flex-grow: 1; /* Permite que este contenido se expanda y ocupe el espacio restante */
}
